<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.maptest" >

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" /> <!-- 访问网络，用于SDK鉴权、算路导航 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 获取网络状态，避免产生不必要的网络请求 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取Wi-Fi状态，避免产生不必要的网络请求 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 用于ugc事件上报拍照录像 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 用于ugc事件上报录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />



    <application
        android:allowBackup="true"
    
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".myhome.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_my_home" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="MapTest" />
        <activity
            android:name=".baidumap.DemoGuideActivity"
            android:label="MapTest" />
        <activity
            android:name=".item.Spacetable"
            android:label="MapTest" />
        <activity
            android:name=".item.FindPark"
            android:label="MapTest" />


        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="BCdSIjzhIkGHKn8ePrY2AZslPNs2nsqZ" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />


    </application>

</manifest>